### Importing the necessary packages

In [1]:
import pandas as pd
import datetime as dt
import missingno as msno
import numpy as np

In [2]:
# loading the web development data

webdev=pd.read_csv('WebDevelopment.csv')

In [3]:
# A look at a few rows of the webdev dataframe
webdev.tail()

,id,title,url,isPaid,price,numSubscribers,numReviews,numPublishedLectures,instructionalLevel,contentInfo,publishedTime,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
1195,775618,Learn jQuery from Scratch - Master of JavaScri...,https://www.udemy.com/easy-jquery-for-beginner...,TRUE,100,1040,14,21,All Levels,2 hours,2016-06-14T17:36:46Z,NaN,NaN,NaN,NaN,NaN
1196,1088178,How To Design A WordPress Website With No Codi...,https://www.udemy.com/how-to-make-a-wordpress-...,TRUE,25,306,3,42,Beginner Level,3.5 hours,2017-03-10T22:24:30Z,NaN,NaN,NaN,NaN,NaN
1197,635248,Learn and Build using Polymer,https://www.udemy.com/learn-and-build-using-po...,TRUE,40,513,169,48,All Levels,3.5 hours,2015-12-30T16:41:42Z,NaN,NaN,NaN,NaN,NaN
1198,905096,CSS Animations: Create Amazing Effects on Your...,https://www.udemy.com/css-animations-create-am...,TRUE,50,300,31,38,All Levels,3 hours,2016-08-11T19:06:15Z,NaN,NaN,NaN,NaN,NaN
1199,297602,Using MODX CMS to Build Websites: A Beginner's...,https://www.udemy.com/using-modx-cms-to-build-...,TRUE,45,901,36,20,Beginner Level,2 hours,2014-09-28T19:51:11Z,NaN,NaN,NaN,NaN,NaN

In [4]:
# Getting information about the various columns of the dataframe
webdev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1200 non-null   int64
 1   title                 1200 non-null   object
 2   url                   1200 non-null   object
 3   isPaid                1200 non-null   object
 4   price                 1200 non-null   object
 5   numSubscribers        1200 non-null   int64
 6   numReviews            1200 non-null   int64
 7   numPublishedLectures  1200 non-null   int64
 8   instructionalLevel    1200 non-null   object
 9   contentInfo           1200 non-null   object
 10  publishedTime         1200 non-null   object
 11  Unnamed: 11           0 non-null      float64
 12  Unnamed: 12           0 non-null      float64
 13  Unnamed: 13           0 non-null      float64
 14  Unnamed: 14           0 non-null      float64
 15  Unnamed: 15           0 non-null      float64
dtypes: float64(5), int64(4), object(7)
memory usage: 150.1+ KB

### Deleting columns with complete nulls

In [5]:
webdev.drop(['Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15'],axis=1,inplace=True)

### Cleaning completely duplicated rows

In [6]:
#viewing completely duplicated rows
webdev[webdev.duplicated(keep=False)]

,id,title,url,isPaid,price,numSubscribers,numReviews,numPublishedLectures,instructionalLevel,contentInfo,publishedTime
0,28295,Learn Web Designing & HTML5/CSS3 Essentials in...,https://www.udemy.com/build-beautiful-html5-we...,TRUE,75,43285,525,24,All Levels,4 hours,2013-01-03T00:55:31Z
83,28295,Learn Web Designing & HTML5/CSS3 Essentials in...,https://www.udemy.com/build-beautiful-html5-we...,TRUE,75,43285,525,24,All Levels,4 hours,2013-01-03T00:55:31Z

In [7]:
#deleting completely duplicates and keeping first as original
webdev.drop_duplicates(keep='first',inplace=True)

### Working on the isPaid Column

In [8]:
# A look at the unique values inside of the column
webdev['isPaid'].unique()

array(['TRUE', '1', 'FALSE', 'true'], dtype=object)

In [9]:
# correcting all instances of 'FALSE' to the boolean False, otherwise True
webdev['isPaid']=np.where(webdev['isPaid']=='FALSE',False,True)

In [10]:
# Confirming that the change has taken effect
webdev['isPaid'].unique()

array([ True, False])

## Working on the price column

In [11]:
# Looking at the unique representations in the price column
webdev['price'].unique()

array(['75', '50', '60', '20', '40', '150', '200', '195', '25', '95',
       '-20', '100', '190', '120', '110', '165', '65', '85', '175', '70',
       '80', '125', '145', '115', '135', 'Free', '30', '55', '35', '140',
       '45', '180', '170', '185', '90', '105', '160'], dtype=object)

Correcting wrong inputs: 
* 'Free' replaced with 0
* negative values replaced with their positive equivalents

In [12]:
#effecting the above changes
webdev['price']=np.where(webdev['price']=='Free','0',webdev['price'])
webdev['price']=webdev['price'].str.strip('-')

In [13]:
# confirming the changes
webdev['price'].unique()

array(['75', '50', '60', '20', '40', '150', '200', '195', '25', '95',
       '100', '190', '120', '110', '165', '65', '85', '175', '70', '80',
       '125', '145', '115', '135', '0', '30', '55', '35', '140', '45',
       '180', '170', '185', '90', '105', '160'], dtype=object)

In [14]:
# Converting the price column to float data type
webdev['price']=webdev['price'].astype('float')

## Working on the numReviews column

In [15]:
webdev['numReviews'].unique()

array([  525,   285,   529,   206,   490,   202,  -112,   359,   178,
         210,   540,  -351,   167,   253,   220,   106,   333,   147,
          94,   217,   317,   218,   110,   131,   848,   506,  1017,
         655,   820,   662,  1445,  1981,   104,  1358,  1304,   418,
          73,    38,    52,    56,    59,    35,    21,    41,   200,
          83,   324,    13,   401,   198,   368,   137,   142,   116,
         193,   277,   111,   223,    46,   340,     6,    76,   201,
          75,    43,    53,    49,    31,   237,   783,   121,   312,
         268,   117,   215,   212,   674,   165,   680,   395,   188,
         414,  1111,   331,   941,   129,    72,   179,   799,   836,
         453,   997,   232,    20,  1220,   411,    89,     8,    82,
          23,    64,    80,     0,  6512,  4047,    16,     7,    30,
         139,   473,    79,    34,   118,  1097,    57,   173,   159,
         276,    78,   216,   219,   105,  2685,    96,   423,   102,
           5,    81,   169,    69,   970,   570,   901,   876,   303,
         286,   302,   629,   292,   262,    62,   125,   164,  1342,
         314,   114,    47,   978,   522,    44,   101,    63,   874,
          68,    88,   243,    24,    27,   160,    37,    29,    50,
         231,   306,    17,   291,     4,     9,   185,   138,    22,
          10,  1838,   330,  1548,   531,   622,   660,  1090,  2408,
        1846,   497,   214,   627,   931,   383,   134,    26,   329,
         685,   466,    65,   523,    11,   120,    12,   514,   589,
          28,   742,   471,   174,   144,    92,   136,    90,   213,
          15,    61,    60,   258,    48,   228,    93,    39,    32,
        1005,  2575,  5924,    33,   183,    14,   415,   463,   482,
         224,  1813,   260,    99,   247,   380,   450,    95,  1112,
         126,  8629,   441,   154,   354,    74,   750,   108,    71,
          51,   115,   112,     1,    42,    40,   107,   358,    45,
          19,   166,    18,    54,   145,   439,   172,   278,   242,
          85,    91,   239,    55,   393,   245,    36,    77,   261,
         989,    25,    84,   133,   195,  1106,   141,   249,     2,
         171,   435,   119,   162,   235,   279,    97,   311,    58,
          87,   318,   536,   416,   438,   130,   365,  -602,   508,
         721,   360,  1724,   527,  1213,   372,   688,   983,   620,
         407,   128,   489,    67,   150,  1225,   384,   382,   634,
         434,   780,   526,   123,   149,   850,  1883,  1375,   828,
         737, 19649,  1955,  4316,   676,  3809,  3137,   283,    86,
         103,  2692,  1286,   241,  4675,   288,  4340,  3166,  8341,
        1384, 27445,  2144, 22412,  4434,   914,   561,  2618,   271,
         313, 11580, 16976,  1893,  7106,  2709, 11123,  1560,  3326,
       15117,   307,  6357,   987,     3,   615,  4598,   945,  1236,
         386,   152,   689,   132,  1080,   135,  5660,    98,  2104,
         177,   146,   336,   148,   240,   546,  1948,   163,  5590,
         406,   161,   290,   304,   346,   180,   521,   196,   221,
         309,   319,   300,   143,  1036,  1234,   394,   390,   425,
         203,   379,  1716,   205,   113], dtype=int64)

In [16]:
# Correcting negative inputs of number of reviews
webdev['numReviews']=np.where(webdev['numReviews']<0,-1*webdev['numReviews'],webdev['numReviews'])

In [17]:
# Confirming that there are no more values falling out of the reasonable range
print(webdev['numReviews'].min(),webdev['numReviews'].max())

0 27445

### Working on instructionalLevel column

In [18]:
# viewing unique values inside instructionalLevel column
webdev['instructionalLevel'].unique()

array(['All Levels', 'all levels', 'Intermediate Level', 'beginner',
       'Beginner Level', 'INTERMEDIATE', 'all ', 'ALLEVELs', 'BEGINNER',
       'Expert Level'], dtype=object)

From looking at the unique values, there are supposed to be 4 unique values: All, Beginner, Intermediate and Expert.
The correction will be made by;
* Applying same capitalisation through the column
* Removing the 'level' word out of every entry
* Removing unwanted white spaces

In [19]:
webdev['instructionalLevel']=webdev['instructionalLevel'].str.capitalize().str.replace('level','').str.replace('s','')\
                                                            .str.strip()

In [20]:
# checking results of the changes
webdev['instructionalLevel'].unique()

array(['All', 'Intermediate', 'Beginner', 'Al', 'Expert'], dtype=object)

In [21]:
#Dealing with the unique instance of 'Al'
webdev['instructionalLevel']=np.where(webdev['instructionalLevel']=='Al','All',webdev['instructionalLevel'])

## Working on the contentInfo column

In [22]:
# looking at the unique values inside the contentInfo column
webdev['contentInfo'].unique()

array(['4 hours', '12.5 hours', '4.5 hours', '15.5 hours', '5.5 hours',
       '5 hours', '19.5 hours', '7 hours', '6 hours', '1.5 hours',
       '3.5 hours', '12 hours', '3 hours', '32.5 hours', '1 hour',
       '9.5 hours', '9 hours', '7.5 hours', '18.5 hours', '19 hours',
       '15 hours', '20.5 hours', '13.5 hours', '37.5 hours', '14.5 hours',
       '2 hours', '2.5 hours', '17.5 hours', '10 hours', '8.5 hours',
       '6.5 hours', '8 hours', '10.5 hours', '25 hours', '11 hours',
       '20 hours', '25.5 hours', '45 hours', '33 hours', '16 hours',
       '11.5 hours', '60 hours', '16.5 hours', '22.5 hours', '23 hours',
       '18 hours', '13 hours', '33 mins', '14 hours', '29.5 hours',
       '21.5 hours', '31.5 hours', '27.5 hours', '44.5 hours', '36 mins',
       '24.5 hours', '40 mins', '51 hours', '43 mins', '42 mins',
       '37 mins', '32 mins', '34 mins', '17 hours', '41 mins', '44 mins',
       '35 mins', '57 hours', '38 mins', '39 mins', '76.5 hours',
       '22 hours', '30.5 hours', '43 hours', '42 hours', '26.5 hours',
       '26 hours', '21 hours', '30 mins', '48.5 hours', '31 mins',
       '23.5 hours', '66.5 hours'], dtype=object)

To clean this column:
* The units will be stripped off the entries
* The minutes entries will be converted into hours
* The column will then be stored as a float datatype with a more descriptive name

In [23]:
# Creating a new column with a more descriptive name and filling the entries recorded originally in hours
webdev['duration_hours']=np.where(webdev['contentInfo'].str.contains('hours',regex=False),webdev['contentInfo'].str.strip('hours '),
                               np.nan)

In [24]:
# converting the entries originally stored as minutes into hours
webdev['contentInfo']=np.where(True,webdev['contentInfo'].str.strip('mins').str.strip('hours ').astype('float')/60,
                               np.nan)

In [25]:
# filling the converted minutes entries into the duration_hours column
webdev['duration_hours']=np.where(webdev['duration_hours'].isna(),webdev['contentInfo'],
                               webdev['duration_hours'])

In [26]:
webdev['duration_hours'].unique()

array(['4', '12.5', '4.5', '15.5', '5.5', '5', '19.5', '7', '6', '1.5',
       '3.5', '12', '3', '32.5', 0.016666666666666666, '9.5', '9', '7.5',
       '18.5', '19', '15', '20.5', '13.5', '37.5', '14.5', '2', '2.5',
       '17.5', '10', '8.5', '6.5', '8', '10.5', '25', '11', '20', '25.5',
       '45', '33', '16', '11.5', '60', '16.5', '22.5', '23', '18', '13',
       0.55, '14', '29.5', '21.5', '31.5', '27.5', '44.5', 0.6, '24.5',
       0.6666666666666666, '51', 0.7166666666666667, 0.7,
       0.6166666666666667, 0.5333333333333333, 0.5666666666666667, '17',
       0.6833333333333333, 0.7333333333333333, 0.5833333333333334, '57',
       0.6333333333333333, 0.65, '76.5', '22', '30.5', '43', '42', '26.5',
       '26', '21', 0.5, '48.5', 0.5166666666666667, '23.5', '66.5'],
      dtype=object)

In [27]:
#storing the entries of duration_hours as float and rounding to 2 decimal places
webdev['duration_hours']=webdev['duration_hours'].astype('float').round(decimals=2)

In [28]:
#deleting the contentInfo column
del webdev['contentInfo']

### Working on the publishedTime column

In [29]:
# converting published time to datetime object
webdev['publishedTime']=pd.to_datetime(webdev['publishedTime'])

# Viewing the cleaned dataframe

In [37]:
webdev.head()

,id,title,url,isPaid,price,numSubscribers,numReviews,numPublishedLectures,instructionalLevel,publishedTime,duration_hours
0,28295,Learn Web Designing & HTML5/CSS3 Essentials in...,https://www.udemy.com/build-beautiful-html5-we...,True,75.0,43285,525,24,All,2013-01-03 00:55:31+00:00,4.0
1,19603,Learning Dynamic Website Design - PHP MySQL an...,https://www.udemy.com/learning-dynamic-website...,True,50.0,47886,285,125,All,2012-06-18 16:52:34+00:00,12.5
2,889438,ChatBots: Messenger ChatBot with API.AI and No...,https://www.udemy.com/chatbots/,True,50.0,2577,529,64,All,2016-06-30 16:57:08+00:00,4.5
3,197836,Projects in HTML5,https://www.udemy.com/projects-in-html5/,True,60.0,8777,206,75,Intermediate,2014-06-17 05:43:50+00:00,15.5
4,505208,Programming Foundations: HTML5 + CSS3 for Entr...,https://www.udemy.com/html-css-more/,True,20.0,23764,490,58,Beginner,2015-10-17 04:52:25+00:00,5.5

In [38]:
webdev.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1199 entries, 0 to 1199
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1199 non-null   int64
 1   title                 1199 non-null   object
 2   url                   1199 non-null   object
 3   isPaid                1199 non-null   bool
 4   price                 1199 non-null   float64
 5   numSubscribers        1199 non-null   int64
 6   numReviews            1199 non-null   int64
 7   numPublishedLectures  1199 non-null   int64
 8   instructionalLevel    1199 non-null   object
 9   publishedTime         1199 non-null   datetime64[ns, UTC]
 10  duration_hours        1199 non-null   float64
dtypes: bool(1), datetime64[ns, UTC](1), float64(2), int64(4), object(3)
memory usage: 104.2+ KB